body {
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

header {
  box-shadow: 0px 3px 10px 0px #d3d3d3;
  width: 100%;
  z-index: 1;
  grid-area: header;
}

.sidebar {
  background-color: #1992D4;
  grid-area: sidebar;
}

main {
  background-color: #E2E8F0;
  grid-area: main;
}